<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <p>{{ site.description }}</p>
        {% if site.repository_url %}
        <p class="view"><a href="{{ site.repository_url }}">View the Project on GitHub <small>{{ site.repository_nwo }}</small></a></p>
        {% endif %}
        {% if site.owner_url %}
        <p class="view"><a href="{{ site.owner_url }}">View the ME-ICA GitHub organization</a></p>
        {% endif %}
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        {% if site.owner_url %}
        <p>This project is maintained by <a href="{{ site.owner_url }}">{{ site.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/pages-themes/minimal">pages-themes/minimal</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
